body {
    overflow: hidden; /* Hide scrollbars */
    font-size: 1vw;
    background-color: black;
    font-family:Verdana;
  }

#MM{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: 265;
    font-size: 1vw;
}
#MMTO{
    position: absolute;
    top:75%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}

#MMTP{
    position: absolute;
    top:45%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}
#MMTLS{
    position: absolute;
    top:55%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}

#MMTC{
    position: absolute;
    top:65%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}

#MMTP, #MMTO,#MMTLS,#MMTC{

    background-color: #aa99aa;
    color: black;
    border: 2px solid #110011;    
    transition-duration: 0.4s;
    font-size: 1vw;
    border-radius: 8px;
    font-size: 1vw;

}
#MMTP:active, #MMTO:active,#MMTLS:active, #MMTC:active{
    background-color: #AAFFAA; /* Green */
    color: #aa99aa;
}

#MMTP:hover, #MMTO:hover,#MMTLS:hover, #MMTC:hover{
    background-color: aquamarine;
    color: black; 
}
#warning-message{
    overflow: hidden;
}

#warning-message_p{

    position: absolute;
    background-color: #550000;
    color: #FFFFFF;
    font-size: 6vw;
    width:100%;
    text-align:center;
    top:50%;
    z-index:256;


}

#warning-message_bg{
    position: absolute;
    background-color: #550000;
    width:100%;
    left:0%;
    height:10%;
    top:50%;
    
}


#warning-message { display: none; }
    
    @media only screen and (orientation:portrait){

        #wrapper { display:none; }

        #warning-message { display:block; }

    }

    @media only screen and (orientation:landscape){

        #warning-message { display:none; }

    }
.loader {
    border: 8px solid #f3f3f3; /* Light grey */
    border-top: 8px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s cubic-bezier(0, 0.93, 0.58, 1.2) infinite;
    position: relative;
    margin:auto;
    /*padding-top:50vh;*/
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


.info{
    position: relative;
    margin:auto;
    margin-top:auto;
    z-index: 264;
    background-color: #555555;
    
    border: 1px;
    border-color: #3498db;
    height:10%;
    width:50%;

}

#info{
    color:white;
    z-index: 265;
    position: relative;
    margin:auto;
    margin-top:auto;
    width:100%;
    height:100%;
    text-align: center;
    padding-top:1vh;
    
}

