body {
    overflow: hidden; /* Hide scrollbars */
    font-size: 1vw;
    background-color: black;
  }

#MM{
    position: absolute;
    top:0px;
    left:0px;
    width:100%;
    height:100%;
    z-index: 265;
    font-size: 1vw;
}
#MMTO{
    position: absolute;
    top:65%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}

#MMTP{
    position: absolute;
    top:45%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}
#MMTLS{
    position: absolute;
    top:55%;
    left:40%;
    width:20%;
    height:10%;
    z-index: 265;
    background-color: blueviolet;
}

#MMTP, #MMTO,#MMTLS{

    background-color: #aa99aa;
    color: black;
    border: 2px solid #110011;    
    transition-duration: 0.4s;
    font-size: 1vw;
    border-radius: 8px;
    font-size: 1vw;

}
#MMTP:active, #MMTO:active,#MMTLS:active{
    background-color: #AAFFAA; /* Green */
    color: #aa99aa;
}

#MMTP:hover, #MMTO:hover,#MMTLS:hover{
    background-color: aquamarine;
    color: black; 
}
#warning-message{
    overflow: hidden;
}

#warning-message_p{

    position: absolute;
    background-color: #550000;
    color: #FFFFFF;
    font-size: 6vw;
    width:100%;
    text-align:center;
    top:50%;
    z-index:256;


}

#warning-message_bg{
    position: absolute;
    background-color: #550000;
    width:100%;
    left:0%;
    height:10%;
    top:50%;
    
}


#warning-message { display: none; }
    
    @media only screen and (orientation:portrait){

        #wrapper { display:none; }

        #warning-message { display:block; }

    }

    @media only screen and (orientation:landscape){

        #warning-message { display:none; }

    }







